body.unauthorized #mainContainer
{
    display: none;
}

body.authorized #connectContainer
{
    display: none;
}

body 
{
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.game-post
{
    text-align: center;
}

.controls
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.controls a
{
    margin-left: 2px;
    margin-right: 2px;

}

.annotation
{
    background-color: #E0CD96;
}

.poster
{
    color: black;
    font-weight: bold;
}

#postGameModal
{
    top: 35%;
}

#postGameModal .modal-body
{
    max-height: 600px;
}

#mainTabs
{
    margin-top: 10px;
}

#createChallengePieces img
{
    width: 150px;
    height: 150px
}

#createChallengeModal .modal-body textarea
{
    width: 349px;
}

#createChallengePieces a
{
    margin-right: 3px;
    margin-bottom: 5px;
}

#createChallengeModal input
{
    width: 226px;
}

#moveModal
{
    top: 35%;
    height: 85%;
}

#moveModal .modal-body
{
    max-height: none;
}
