[submodule "js/chess.js"]
	path = js/chess.js
	url = git://github.com/mattflaschen/chess.js.git
[submodule "jchess"]
	path = jchess
	url = git://github.com/mattflaschen/jchess.git
[submodule "js/js-iso8601"]
	path = js/js-iso8601
	url = git://github.com/csnover/js-iso8601.git
